<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fat-out</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-expand  navbar-dark bg-primary">
        <a class="navbar-brand" href="/">肥貓滷味</a>
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/orders">查詢訂單</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/foods">商品管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">訂單管理</a>
                </li>

                {{!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> --}}
            </ul>
            <div>
                {{#if user.isAdmin}}
                <a href="/admin" style="color: white;margin-right: 10px;">Admin 後台</a>
                {{/if}}
                {{#if user}}
                <span style="color: white;margin-right: 10px;">Hi, {{user.email}}</span>
                <a href="/users/{{user.id}}" style="color: white;margin-right: 10px;">Profile</a>
                <a href="/logout"><button class="btn btn-outline-success my-2 my-sm-0">LogOut</button></a>
                {{/if}}
            </div>
        </div>
    </nav>
    {{{ body }}}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

    <script src="/javascript/dom.js"></script>


</body>

</html>