<div class="container mt-5">

    <div class="row">
        {{!-- 左邊為菜單 --}}
        <div class="col-8 border">
            <div class="card-deck pt-3 mb-3">
                <div class="card text-center ">
                    <label class="card-body px-2">
                        <h5 class="card-title">Black Tea</h5>
                        <input type="radio" name="drink" value="Black Tea">
                    </label>
                </div>
                <div class="card text-center">
                    <label class="card-body px-2">
                        <h5 class="card-title">Black Tea</h5>
                        <input type="radio" name="drink" value="Black Tea">
                    </label>
                </div>
                <div class="card text-center">
                    <label class="card-body px-2">
                        <h5 class="card-title">Black Tea</h5>
                        <input type="radio" name="drink" value="Black Tea">
                    </label>
                </div>
                <div class="card text-center">
                    <label class="card-body px-2">
                        <h5 class="card-title">Black Tea</h5>
                        <input type="radio" name="drink" value="Black Tea">
                    </label>
                </div>


            </div>

            <div class="text-right">
                <div class="btn btn-light" style="min-width:120px;" data-alpha-pos="add-drink">Add</div>
            </div>


        </div>

        {{!-- 左邊為已點餐點 --}}
        <div class="col-4 border">
            <div class="card mb-3">
                <div class="card-body pt-3 pr-3">
                    <div class="text-right">
                        <span data-alpha-pos="delete-drink">×</span>
                    </div>
                    <h6 class="card-title mb-1">Black Tea</h6>
                    <div class="card-text">Less Ice</div>
                    <div class="card-text">Half Sugar</div>
                </div>
                <div class="card-footer text-right py-2">
                    <div class="card-text text-muted">$ <span data-drink-price>30</span></div>
                </div>

            </div>
        </div>






    </div>


</div>