.col-4, .col-8 {
  /* outline: 1px solid steelblue; */
  border:1px solid steelblue ;
  /* min-height: 600px; */
}

/* @media screen { font-size: 14px; }
@media print { font-size: 28px; } */


@media screen and (max-width: 768px) { 
  img{ display: none }
  .card-body {
    padding: 0.5rem}

}

.delete-btn:hover{
  color: #333
}

.delete-btn{
  display: inline-block;
  text-align: center;
  color: #999;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 1;
}